/* App container styling */
.app-container1 {
    display: flex;
    width: 100%;
  }
  
  /* Content section */
  .content {
    flex-grow: 1;
    margin-left: 250px; /* Sidebar width */
    padding: 30px;
    background-color: #f0f0f0; /* Light background */
    color: #333;
    max-width: 100%;
  }
  
.page-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.department-tabs {
    margin-bottom: 20px;
}

.tab-button {
    margin: 5px;
}

.doctors-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center;
}

.doctor-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.doctor-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.doctor-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
    border-radius: 10px;
    margin-bottom: 15px;
}

.doctor-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.doctor-role {
    font-size: 1rem;
    color: #555;
    margin-bottom: 5px;
}

.doctor-department {
    font-size: 0.9rem;
    color: #17a2b8;
    font-weight: bold;
}

.view-profile-btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.view-profile-btn:hover {
    background-color: #138496;
}
