.detailsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between; ; /* Centers content horizontally */
    align-items: center;               /* Centers content vertically */
    background-color: #27a8b0;     /* Blue background */
    padding: 10px 0px 20px 0px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    
   
  }
  
  .part1, .part3 {
    display: flex;
    align-items: center;
    gap: 30px;                       /* Space between items inside part1 and part3 */
  }
  .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .icon:hover{
     opacity: 0.6;
  }
  
  .part2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px; /* Space between icon and text */
  }
  
  /* Responsive layout for smaller screens */
  @media (max-width: 700px) {
    .detailsection {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 0px;
      text-align: center;
     
    }
  }
  