.abovedsection {
    background-image: url("../../Images/hero/bg_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 62vh;
    animation: fadeInUp 1.5s ease-in-out;
    text-align: center;
    padding: 135px 0;
    
    /* Reduce brightness */
    filter: brightness(90%);
}

.abovedsection h1 , p{
    color: rgb(255, 255, 255);
}

.abovedsection h1 {
    font-size: 55px;
    font-weight: 900;
    text-shadow: 2px 2px 8px rgba(126, 136, 136, 0.7);
}

.abovedsection p{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1.cm;
    
    color: #ffffff;
    font-style: italic;
    text-shadow: 2px 2px 8px rgba(126, 136, 136, 0.7);
}

.Sbutton {
    position: relative;
    padding: 10px;
    width: 200px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease; /* Smooth transition on hover */
  }
  
  .Sbutton:hover {
    filter: brightness(95%); /* Adjust value (0% - 100%) */
}
