.text-with-underline1 {
    text-align: center;
    position: relative;
    font-size: 54px;
    color: #5B8689;
    margin-top: 40px;
    
  }

/* ------------------------- General Styles --------------------------------------------------- */

.cont1 {
    margin: 60px;
}

.pp{
    color: #444444;
}
/* ------------------------- About Us Section 1 --------------------------------------------------- */
.aboutimg {
    width: 600px;
    padding-right: 40px;
}

.aboutpart1 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.aboutpart2 {
    display: grid;
    grid-template-columns: 50px auto;
    margin-top: 10px;
}

.b {
    border-bottom: none;
}

.icon2 {
    font-size: 25px;
    color: #27a6ae;
}

/* ------------------------- About Us Section 2 --------------------------------------------------- */

.cont2 {
    margin-top: 70px;
    background-color: #bbf5fa5a;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


/* Individual card styling */
.card {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    display: grid;
    grid-template-columns: auto auto;
    border: none;
    padding: 20px;
    width: 300px;
  }
 

  
  
  /* Icon styling */
  .card-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 28px;
    margin-right: 10px;
    margin-left: 30px;
    background-color: #27a6ae;
    color: #ffffff;
  }
  
  

  .card-value {
    font-size: 38px; 
    color: #333333;
    font-weight: 500;
  }
  
  .card-subtitle {
    font-size: 14px;
    color: #aaaaaa;
  }
  



@media (max-width: 1500px) {
    .aboutimgs {
        text-align: center;
    }

    .aboutpart1 {
        display: block;
        align-items: center;
        flex-wrap: wrap;
    }

    .cont2 {
        display: flex;
        flex-wrap: wrap;
    }
}



