.profile-page {
  max-width: 800px;
  padding: 20px 30px;
  
}

.profile-header-card,.profile-details-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0.1px 1px 8px rgba(0, 0, 0, 0.286);
  margin: 18px auto;
  max-width: 800px;
}

.profile-header {
  display: flex;
  align-items: center;
}

.profile-photo1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
  border: 1px #0078d4 solid;
}

.profile-info h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.profile-info p {
  margin: 8px 0 16px;
  color: #666;
}

.upload-btn {
  background-color: #0078d4;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.upload-btn:hover {
  background-color: #005a9e;
}

.upload-btn input {
  display: none;
}

.profile-details-card h3 {
  margin-bottom: 16px;
  color: #333;
}

.profile-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.field-label {
  flex: 1;
  font-weight: bold;
  color: #444;
}

.field-value {
  flex: 2;
  color: #333;
}

.editable-input {
  flex: 2;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

.action-links {
display: grid;
grid-template-columns: auto auto;
text-align: center;
margin-top: 20px;
}

.link {
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;

}

.edit-link {
  background-color: #0078d4;
  color: white;
}

.edit-link:hover {
  background-color: #005a9e;
}

.save-link {
  background-color: #28a745;
  color: white;
}

.save-link:hover {
  background-color: #218838;
}

/* Style for the back button */
.back-button {
  color: rgb(3, 22, 162);
  border: none;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  text-decoration: underline;
  background-color:white ;
  text-align: left;
}

.back-button:hover {
  color: #007bff;
}

/*----------------------animation--------------------------*/
@keyframes scale-up {
  0% {
      transform: scale(0.8);
      opacity: 0;
  }
  100% {
      transform: scale(1);
      opacity: 1;
  }
}