.doctors-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); 
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.doctor-card {
  text-align: center;
  max-width: 350px; 
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  height: 100%; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.doctor-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.image-button-container {
  display: flex;
  align-items: center; 
  gap: 10px; 
  margin-bottom: 15px; 
}

.doctor-image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 10px;
}

.view-profile-btn {
  background-color: #17a2b8; 
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap; 
}



.doctor-name {
  font-size: 1.5rem;
  margin: 10px 0;
  color: #333;
}

.doctor-role {
  font-size: 1rem;
  color: #777;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 10px; 
}

.department-tabs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; 
  margin-bottom: 20px;
}

.doctor-details {
  text-align: left;
}

.doctor-info {
  margin-top: 15px;
  display: flex;
  flex-direction: column; 
  gap: 5px; 
}

.doctor-info p {
  margin: 0; 
  padding: 3px 0; 
  font-weight: bold; 
}
.social-media-icons {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.social-icon {
  color: #17a2b8;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #138496;
}