.body {
    margin: 50px;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appointment-container {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}


.doctor-info {
    display: flex;
    align-items: center;
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
}

.doctor-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 15px;
}

.doctor-details h2 {
    font-size: 1.2rem;
    color: #222;
    margin: 0;
}

.verified-badge {
    color: green;
    font-size: 1rem;
    margin-left: 5px;
}

.fee {
    font-size: 1rem;
    color: #555;
}


.booking-section h3 {
    font-size: 1.2rem;
    margin-top: 30px;
    margin-bottom: 20px;
    color: #333;
}

.react-calendar {
    width: 100% !important;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.time-selector {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
}

.time {
    padding: 8px 15px;
    border-radius: 8px;
    background-color: #f1f1f1;
    cursor: pointer;
    transition: all 0.3s;
}

.time:hover {
    background-color: #0074cc;
    color: white;
}

.time.selected {
    background-color: #007bff;
    color: white;
    border: none;
}

.booking-button {
    padding: 8px 15px;
    font-size: 0.9rem;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Make the button stretch */
}

.booking-button:hover {
    background-color: #218838;
}

.confirmation-message {
    margin-top: 5px;
    font-size: 0.85rem;
    font-weight: bold;
    text-align: center;
}

/* Style for the back button */
.back-button {
    margin:10px 10px 5px;
    color: black;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 800;
    background-color: #ffffff;
}

.back-button:hover {
    color: #007bff;
}


@media (max-width: 400px) {
    .appointment-container {
        max-width: 90%;
    }

    .time {
        font-size: 0.8rem;
    }
}
